<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="icon" href="/static/favicon.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cross Stitch Pattern Generator</title>
</head>
<body>
    <ul id="header">
        <li><a href="/">Home</a></li>
        <li><a href="/a">A</a></li>
        <li><a href="/b">B</a></li>
        <li><a href="https://github.com/jrygeorge/cross-stitch">
            <img src="/static/github-mark-white.png" width="30" height="30">
            </a>
        </li>
    </ul>
{% block content %}

{% endblock %}
</body>
</html>