{% extends 'base.html' %}
{% block content %}

<form method="POST"  action="/" enctype="multipart/form-data">
    <h2> Cross Stitch Pattern Generator</h2>
    <select id="aida_select" name="aida">
        {% for aida_no in [7,10,11,12,14,16,18,20] %}
        <option value="{{aida_no}}">{{aida_no}}</option>
        {% endfor %}
    </select>
    <p><input type="file" name="original_image"></p>
    <p><input type="submit" value="Select Number of Colours"><a href=""></a></p>
</form>


{% endblock %}